@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

html {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height : 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;

}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 5px;
  background: #E4E7EC;
  border-radius: 10px;
}

/*Rsuite checkpicker custom css*/

.custom_list_item .rs-picker-list-item{
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 8px;
  margin-right: 8px;
  border-bottom: 1px solid #E4E7EC !important;
}

.custom_list_item .rs-stack {
  padding-top: 10px !important; 
  /* padding-bottom: 3px ; */
}

.custom_list_item .rs-check-item .rs-checkbox-checker .rs-checkbox-wrapper {
  left: 6px !important;
  margin-top: 5px;
}

.cus_pop.rs-picker-popup{
  width: 170px !important;
  max-height: 320px !important;
}

.rs-checkbox-checker{
  align-items: center;
  display: flex;
}
.rs-check-item .rs-checkbox-checker > label{
  align-items: center !important;
  display: flex;
}

.rs-check-item .rs-checkbox-checker {
  align-items: center !important;
}

label .rs-checkbox-wrapper .rs-checkbox-inner::before {
  border-color: #e7e4ec;
  background-color: #e7e4ec;
}

label:hover .rs-checkbox-wrapper .rs-checkbox-inner::before {
  border: none;
}

label .rs-checkbox-wrapper .rs-checkbox-inner {
  border: none;
  background-color: #e7e4ec;
}

.rs-checkbox-wrapper::before {
  background-color: #e7e4ec;
  border-radius: 3px;
}

.rs-checkbox-checked .rs-checkbox-wrapper .rs-checkbox-inner::before,
.rs-checkbox-indeterminate .rs-checkbox-wrapper .rs-checkbox-inner::before {
  border-color: #25DAC5 !important;
  background-color: #25DAC5 !important;
  color: #1e0e62 !important;;
}

.rs-picker-has-value .rs-btn .rs-picker-toggle-value,
.rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
  color: #101828 !important;
}


.rs-picker-check-menu-items .rs-check-item.rs-checkbox-checked .rs-checkbox-checker > label{
  font-weight: normal !important;
}

.rs-picker:not(.rs-picker-disabled):hover,
.rs-picker.rs-picker-focused {
  border-color: white !important;
}
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:hover,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:focus,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle-active {
  border-color: #e5e5ea !important;
}

.rs-picker-toggle .rs-picker-default:not(.rs-picker-disabled):hover,
.rs-picker-toggle .rs-picker-default:not(.rs-picker-disabled):focus {
  border-color: white !important;
}

.rs-input-group:not(.rs-input-group-disabled).rs-input-group-focus,
.rs-input-group:focus-within {
  outline: none !important;
}
.rs-picker-toggle:focus-visible {
  outline: none !important;
}

.rs-picker-toggle-active,
.rs-picker.rs-picker-focused {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.rs-stack{
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cus_pop.rs-stack-item {
  max-width: 200px;
}
.cus_pop.rs-picker-toggle-textbox.rs-picker-toggle-read-only{
  max-width: 200px;

  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.cus_pop .rs-picker-value-list {
  max-width: 150px;

  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.rs-picker-value-count{
  display: none;
}

.overlay-content-inv {
  height: 88%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.overlay-content-invPro {
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
}

.overlay-content-invDetails {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
}